[submodule "amalgamate"]
	path = tool/amalgamate
	url = https://github.com/Weissle/amalgamate.git
[submodule "tool/amalgamate"]
	path = tool/amalgamate
	url = https://github.com/Weissle/amalgamate.git
